<nav class='navbar'>
  <div class='title'>
    <a href='/'>Weather App</a>
  </div>
  <div class='navbar-links'>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/about'>About</a></li>
      <li><a href='/help'>Help</a></li>
    </ul>
  </div>
</nav>